@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #__next {
  height: 100%;
}

body {
  @apply bg-gradient-to-br from-neon-50 to-white;
}

.neon-button {
  @apply bg-neon-500 text-white px-4 py-2 rounded-lg shadow-md hover:brightness-110 transition;
}
